

.focusedContent {
    width: 100%;
    height: 600px;
    margin-bottom: -80px;
    display: flex;
}

.focusedContentText {
    width: 45%;
    height: auto;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto 0;
}

.focusedMaxWidth {
    max-width: 80%;
}

.focusedImageTitle {
    width: 100%;
    height: 150px;
}

.focusedImageTitle {
    max-height: 140px;
    margin-bottom: 15px;

}
.focusedImageTitleImg {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-size: contain;
    background-position: center;
}

.focusedTitle {
    font-family: "Dyna";
    font-weight: 100;
    text-shadow: none;
}
.focusedSeasonAndEpisode {}
.focusedDetails {
    display: flex;
    align-items: center;
}
.focusedChannelImage img{
    height: 40px;
}
.focusedStartAt{}
.focusedDuration {}
.focusedGenre {}

.focusedReleased {}
.focusedImdb {
}
.focusedImdbBackground {
    background-color: #f6c700;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;

}
.focusedImdbBackground h6{
    color: #000;
    font-weight: bolder;
    font-size: 1.1rem;
}

.focusedImdbTextSpan1 h6{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}
.focusedImdbTextSpan2{
    color: rgb(197, 196, 196);
    font-weight: 400;
    font-size: 0.9rem;
}

.focusedRating {
    width: 25px;
    height: 30px;
    margin-left: 10px;
}

.focusedDescription {
    margin-top: 20px;
}

.focusedBasicSpacement {
    color: rgba(255, 255, 255, 1);
    font-size: 0.25rem;
    margin: 0 5px;
}

.focusedContentImage {
    width: 55%;
    height: 100%;
}

.cardRows {
    width: 100%;
    height: 100%;
}

.cardsFinalMarginScrollY {
    width: 100%;
    height: 700px;
    flex-shrink: 0;
}





