.cardsContainer {
    width: 100%;
    height: 340px;
    margin: 10px 0;
    flex-shrink: 0;
}

.cardsTitle {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.cardsContent {
    width: 100%;
    height: 300px;
    overflow-y: hidden;
    display: flex;
    position: relative;
}


.cardsContent::-webkit-scrollbar {
    display: none;
}

.cardButton{
    width: 200px;
    height: 270px;
    flex-shrink: 0;
    margin: 15px 5px 0 5px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.cardButton:nth-child(1) {
    margin-left: 120px;
}


.cardImage{
width: 100%;
height: 100%;
border-radius: 5px;
object-fit: cover;
}

.cardsFinalMarginScrollX {
    width: 1500px;
    height: 100%;
    flex-shrink: 0;
}





/* CSS PARA CARDS COM BACKGROUND */

.cardsContainerWithBackground {
    width: 1760px;
    height: 450px;
    display: flex;
    margin-left: 120px;
    border-radius: 20px;
    margin-top: 40px;
    flex-shrink: 0;
}

.cardsContainerBgdImage {
    width: 50%;
    height: 100%;
}

.cardsContainerRow {
    width: auto;
    height: 100%;
    background-color: rgb(40, 40, 40);
    display: flex;
    align-items: center;
    overflow: auto;
    border-radius: 0 20px 20px 0;
}

.cardsContainerRow::-webkit-scrollbar {
    display: none;
}


.cardRowButton {
    width: 200px;
    height: 260px;
    margin: auto 5px;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0);
}


.cardRowButtonImage {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-size: contain;
}


/* CSS PARA OS CARDS DE CHANNELS */

.cardsChannelContainer {
    width: 100%;
    height: 130px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.cardsChannelContent {
    width: 100%;
    height: 120px;
    overflow-y: hidden;
    display: flex;
    position: relative;
}

.cardsChannelContent::-webkit-scrollbar {
    display: none;
}

.cardsChannelButton {
    width: 200px;
    height: 120px;
    background-color: rgb(33,33,34);
    margin: 0 5px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    box-shadow: none;
}

.cardsChannelButton:nth-child(1) {
    margin-left: 120px;
}

.cardsChannelButtonTextContainer {
width: 100%;
height: 100%;
background-image: linear-gradient(to bottom, rgba(17, 16, 20, 0.01) 0%, rgba(17, 16, 20, 0.9) 60%);
border-radius: 0 0 5px 5px;
display: flex;
align-items: flex-end;
text-align: left;
justify-content: center;
}


.cardsChannelButtonTextContainer h6{
    margin: 0 0 10px 5px;

}

.displayNone {
    width: 100%;
height: 100%;
    display: none;
}


/* Exibe o texto quando o botão estiver com foco */
.cardsChannelButton:focus .displayNone {
    display: block;
}

.cardButton:focus .displayNone {
    display: block;
}


.cardsRecomendationButtonTextContainer {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(17, 16, 20, 0.01) 0%, rgba(17, 16, 20, 0.9) 60%);
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    }

.cardsRecomendationButtonTextContainer h5 {
    max-width: 90%;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.cardsRecomendationButtonTextContainer h6 {
    max-width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: left;
}