.categoriesContainer {
    width: 1880px;
    height: 90px;
    margin-top: 90px;
    overflow: hidden;
}

.categoriesContent {
    width: 1920px;
    height: 100%;
    display: flex;
overflow: auto;
box-sizing: border-box;
padding-top: 10px;

}

.channelsContent {
    width: 100%;
    height: 880px;
}

.categoriesContent::-webkit-scrollbar {
    display: none;
}

.categoriesButton {
width: auto;
padding: 0 20px;
flex-shrink: 0;
margin: 0 10px;
border-radius: 35px;
background-color: rgba(0, 0, 0, 0);
box-shadow: none;
}

.categoriesButton:nth-child(1) {
    margin-left: 120px;
}

.categoriesButton:last-child {
    margin-right: 120px;
}

.channelsContainer {
    width: 1880px;
    height: 890px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 5px; 
    flex: 1 1;
}


.channelsButton {
width: 420px;

margin: 10px;
border-radius: 5px;
flex-shrink: 0;
height: 100px;
background-color: #444444;
display: flex;
flex-direction: column;
}
.channelDetails {
    width: 100%;
    height: 97%;
    display: flex;
}

.channelDetailsLogo {
width: 40%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.channelDetailsLogoImg {
height: 60%;
}

.channelDetailsText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.channelDetailsText h5{
margin-bottom: 10px;
}
.channelsTimeReproduced {
    height: 3%;
    width: 100%;
    border-radius: 0 0 100px 100px;
}