*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Exo";
  src: url('./fonts/Exo2-VariableFont_wght.ttf');
}
@font-face {
  font-family: "Dyna";
  src: url('./fonts/DynaPuff-VariableFont_wdth\,wght.ttf');
}
@font-face {
  font-family: "Itim";
  src: url('./fonts/Itim-Regular.ttf');
}

@font-face {
  font-family: "Rubik";
  src: url('./fonts/Rubik-VariableFont_wght.ttf');
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(17, 16, 20);
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Georgia", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 1920px;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: visible;
}

.declaredHeight {
  height: 1080px;
}

.declaredOverflow {
  overflow: visible;
}

.declaredOverflowActive {
}

.flexColumn {
  flex-direction: column;
  overflow-y: auto;

}

.paddingLeftDefault {
  padding-left: 120px; /* criar classe independente*/
}

.marginLeftDefault {
  margin-left: 120px; /* criar classe independente*/
}

.displayNone {
  display: none;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 4rem;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
}

h2 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px rgba(94, 94, 94, 0.3);

}

h3 {
  font-size: 2rem;
  color: white;
  font-weight: 400;
}

h4 {
  color: rgb(210, 210, 210);
  font-size: 1.5rem;
  font-weight: 400;
}

h5 {
  color: rgb(210, 210, 210);
  font-size: 1.4rem;
  font-weight: 300;
}

h6 {
  color: rgb(197, 196, 196);
  font-size: 1.3rem;
  font-weight: 300;
}

p {
  color: rgb(220, 220, 220);
  font-size: 1.5rem;
  font-weight: 400;
}

button {
  border: none;
  font-size: 20px;
  height: 60px;
background-color: rgb(190, 0, 3);
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
 color: rgb(255, 255, 255);
 font-weight: bold;
}

a {

}

.flex {
	display: flex;
}

.selected:focus-within {
  border: 5px solid rgb(255, 51, 51);
box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
  font-weight: bold;
  font-size: 1.1rem;
  transition-timing-function: ease-in;
}

.selectedCard:focus-within {
  border: 5px solid rgb(255, 51, 51);
box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
  font-weight: bold;
  font-size: 1.1rem;
  transition-timing-function: ease-in;
}

.selectedMenuOption:focus-within {
  border: 5px solid rgb(255, 51, 51);
  background-color: rgb(255, 51, 51);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
  font-weight: bold;
  font-size: 1.1rem;
  transition-timing-function: ease-in;
}
.buttonWithImage:focus-within {
  border: 5px solid rgb(255, 51, 51);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
  font-weight: bold;
  transition-timing-function: ease-in;
}

.ratingBase {
  border-radius: 3px;
  padding: 0 3px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingL {
  background-color: #569b49;
}

.rating10 {
  background-color: #5891cd;
}
.rating12 {
  background-color: #f0cc17;
}
.rating14 {
  background-color: #d67c1c;
}
.rating16 {
  background-color: #c1131e;
}
.rating18 {
  background-color: #1c1b19;
}